/* Write your CSS here */
.class1 {
  background-color: #1c1c2b;
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  padding: 20px;
}
.cccc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
